html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

textarea {
    border: none;
    resize: none;
}

textarea,
input {
    -moz-appearance: none;
    outline: 0px none transparent;
    border: none;
}

img {
    max-width: 100%;
}

button {
    background: transparent;
    border: none;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegular"),
        url(../fonts/MullerRegular.woff2) format("woff2"),
        url(../fonts/MullerRegular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerRegularItalic"),
        url(../fonts/MullerRegularItalic.woff) format("woff2"),
        url(../fonts/MullerRegularItalic.woff) format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerMedium"),
        url(../fonts/MullerMedium.woff2) format("woff2"),
        url(../fonts/MullerMedium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Muller";
    src: local("MullerBold"),
        url(../fonts/MullerBold.woff2) format("woff2"),
        url(../fonts/MullerBold.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-body: #fff;
    --bg-sect-gray: #E6E8EC;
    --bg-sect-dark-gray: #292E39;
    --bg-sect-black: #121723;
    --color-body: #121723;
    --bg-btnMain-default: #6D31EE;
    --bg-btnMain-focus: #AA9DFA;
    --outline-btnMain-focus: #4F28A5;
    --bg-btnMain-hover: #AA9DFA;
    --bg-btnMain-active: #4F28A5;
    --bg-btn-default: transparent;
    --bg-btn-focus: #6D31EE;
    --btn-brd: 2px solid #AA9DFA;
    --brdr-btn: 40px;
    --brd: 1px solid #E6E8EC;
    --brdr: 32px;
    --bg-icon-default: #D2D5DD;
    --bg-icon-focus: #AA9DFA;
    --bg-icon-hover: #6D31EE;
    --bg-icon-active: #4F28A5;
    --color-wh: #ffffff;
}


body {
    min-width: 320px;
    font-family: "Muller", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: var(--color-body);
    background: var(--bg-body);
}

/*glob*/
.list__reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn__reset {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

.flex {
    display: flex;
}

.container {
    max-width: 1110px;
    margin: 0 auto;
}

.section__offset {
    padding: 94px 0;
}

.section--gray {
    background: var(--bg-sect-gray);
}

.section--dark__gray {
    background: var(--bg-sect-dark-gray);
}

.section--black {
    background: var(--bg-sect-black);
}

.section__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
}

.section__subtitle {
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: #A1A6B4;
}

.section__descr {
    margin: 0;
}

.btn {
    position: relative;
    padding: 25px 54px;
    outline: none;
    border-radius: var(--brdr-btn);
    font-size: 20px;
    font-weight: 500;
    color: var(--color-wh);
    background-color: var(--bg-btnMain-default);
    cursor: pointer;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn:focus {
    background-color: var(--bg-btnMain-focus);
    outline: 2px solid #4F28A5;
    box-shadow: none;
}

.btn:hover {
    background-color: var(--bg-btnMain-hover);
    box-shadow: none;
}

.btn:active {
    background-color: var(--bg-btnMain-active);
    box-shadow: none;
}

.btn__secondary {
    background-color: var(--bg-btn-default);
    font-weight: 400;
    color: #AA9DFA;
    outline: var(--btn-brd);
}

.btn__secondary:focus {
    outline: none;
    background-color: var(--bg-btn-focus);
    color: var(--color-wh);
}

.btn__secondary:hover {
    outline: none;
    color: var(--color-wh);
}

.btn__secondary:active {
    outline: none;
    color: var(--color-wh);
}

.social__icon {
    fill: var(--bg-icon-default);
    transition: fill 0.3s ease-in-out;
}

.social__link:focus .social__icon {
    fill: var(--bg-icon-focus);

}

.social__link:hover .social__icon {
    fill: var(--bg-icon-hover);

}

.social__link:active .social__icon {
    fill: var(--bg-icon-active);
}

/*social__list*/
.social__list {
    gap: 23px;
    align-items: center;
}